/Vetor01/nbproject/private/
/Vetor01/build/
/Vetor02/nbproject/private/
/Vetor02/build/
/Vetor03/nbproject/private/
/Vetor03/build/
/Vetor04/nbproject/private/
/Vetor04/build/
/Vetor05/nbproject/private/
/Vetor05/build/
/ VetorExercicio/nbproject/private/
/ExercicioVEtor/nbproject/private/
/ExercicioVEtor/build/
/TesteFuncao01/nbproject/private/
/TesteFuncao01/build/
/TesteFuncao02/nbproject/private/
/TesteFuncao02/build/
/Funcao01/nbproject/private/
/Funcao01/build/
/Funcao02/nbproject/private/
/Funcao02/build/
/Aula02/nbproject/private/
/Aula02/build/
/Aula03/nbproject/private/
/Aula03/build/
/Aula04/nbproject/private/
/Aula04/build/
/Banco/nbproject/private/
/Banco/build/
/Aula06/nbproject/private/
/Aula06/build/
/aula07/nbproject/private/
/aula07/build/
/UltraEmojiCombat/nbproject/private/
/UltraEmojiCombat/build/
/Biblioteca/nbproject/private/
/Biblioteca/build/
/Escola/nbproject/private/
/Escola/build/
/Aula11/nbproject/private/
/Aula11/build/
/LabPets/nbproject/private/
/LabPets/build/
